{% extends "base.html.twig" %}
{% block body %}

    <small class="d-block text-right mt-3">
        <a href="{{ path("micro_post_add") }}">Novo Post</a>
    </small>

  {% for i, post in posts %}
    {{ include('micro-post/raw-post.html.twig', {'post':post} ) }}

  {% endfor %}
{% endblock %}