<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bem vindo ao nosso Micro-blog!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
</head>
<body class="bg-light">
{{ include('base-navbar.html.twig') }}
<main role="main" class="container">


    <div class="my-3 p-3 bg-white rounded box-shadow">
        {% block h1 %}<h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>{% endblock %}
        {% block body %}
        {% endblock %}        
        <small class="d-block text-right mt-3">
            <a href="{{ path('micro_post_index') }}">Todos os Posts</a>
        </small>
    </div>
</main>
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>